@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");

::-webkit-scrollbar {
  display: none !important;
}

.landing-page {
  user-select: none;
}

.scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 40;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    min-height: 80px;
    width: 8px;
    background-color: #b0e200;
    position: absolute;
    right: 0;
    border-radius: 0;
    cursor: grab;
  }
  /* 
  @include mobile {
    display: none;
  } */
}

.nav {
  transition:
    background-color 0.5s ease,
    top 0.5s ease;
}

.nav::before {
  content: "";
  position: absolute;
  background-color: inherit;
  width: 100vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.scale-on-hover {
  transition: transform 0.5s ease;
}
.scale-on-hover:hover {
  transform: scale(1.05);
}

.cta {
  display: flex;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #b0e200;
  background: #c6ff00;
  color: #120e00;
  font-family: var(--font-euclid);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.cta.secondary {
  transition: transform 0.5s ease;
  border: 1px solid #e4e4e4;
  background: linear-gradient(177deg, #ededed 2.3%, #f0f0f0 123.76%);
  transform: unset !important;
  position: relative;
}
.cta:hover {
  transform: scale(1.05);
}
.cta span,
.cta svg {
  transition: 0.5s ease;
}
.cta svg:nth-of-type(1) {
  opacity: 0;
  position: absolute;
  left: 24px;
  transform: translateX(-12px);
}
.cta.submit svg:nth-of-type(1) {
  left: 15.5px;
}
.cta span {
  transform: translateX(-8px);
}
.cta svg:nth-of-type(2) {
  position: absolute;
  right: 24px;
  transform: translateX(-0px);
}
.cta.submit svg:nth-of-type(2) {
  right: 15.5px;
}
.cta:hover svg:nth-of-type(1) {
  opacity: 1;
  transform: translateX(0px);
}
.cta:hover span {
  transform: translateX(8px);
}
.cta:hover svg:nth-of-type(2) {
  opacity: 0;
  transform: translateX(12px);
}

.dbunderline-on-hover {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.dbunderline-on-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.dbunderline-on-hover:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.dbunderline-on-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  top: calc(100% + 4px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.dbunderline-on-hover:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.hamburger span {
  transition: 0.5s;
}
.hamburger span:nth-of-type(1) {
  transform: rotate(45deg) scaleX(1.2) translateY(-50%);
  transform-origin: 0% 0%;
}
.hamburger span:nth-of-type(2) {
  opacity: 0;
  transform: scale(0);
}
.hamburger span:nth-of-type(3) {
  transform: rotate(-45deg) scaleX(1.2) translate(-11%, 50%);
  transform-origin: 0% 0%;
}

.video > div {
  width: inherit;
  height: inherit;
  padding: unset !important;
}

.video iframe {
  width: 1116px !important;
}

.bento {
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transform-origin: 50% 0%;
}

.bento img {
  transition: 0.7s ease;
}

.bento h3 {
  color: #353535;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
  position: absolute;
  bottom: 52px;
  left: 28px;
  transition: bottom 0.5s 0.2s ease;
}
.bento:hover h3 {
  bottom: 85px;
  transition: bottom 0.5s ease;
}

.bento p {
  color: #2d2d2d;
  font-family: var(--font-euclid);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  position: absolute;
  bottom: 0px;
  left: 28px;
  transition:
    bottom 0.5s ease,
    clip-path 0.5s ease;
  clip-path: inset(0% 0% 100% 0%);
}
.bento:hover p {
  bottom: 34px;
  transition:
    bottom 0.5s 0.2s ease,
    clip-path 0.5s 0.2s ease;
  clip-path: inset(0% 0% 0% 0%);
}

.fade {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.48%, #fff 43.93%);
}

.feature {
  border-radius: 16px;
  border: 1px solid #e9e9e9;
  background: #fff;
  overflow: hidden;
  transition: 0.5s ease;
}

.feature.active figure,
.feature.active p {
  opacity: 1 !important;
}

.clip {
  clip-path: inset(1px 1px 1px 1px);
}

.stats {
  min-height: calc(100vh + 100px);
}

.gradient-text {
  background: linear-gradient(to right, #e9e9e9, #c6ff00);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: rgba(0, 0, 0, 1); */
  transition: color 0.2s ease-in-out;
}
.shiny-cta:hover .gradient-text {
  color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@media screen and (max-width: 768px) {
  .w-full-mobile {
    min-width: 357px;
    width: calc(100vw - 64px) !important;
  }

  .bento {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 27px 28px;
  }

  .bento h3 {
    font-size: 16px;
    letter-spacing: -0.64px;
    position: relative;
    bottom: 0 !important;
    left: 0;
    margin-bottom: 10px;
  }

  .bento p {
    color: #7d7d7d;
    position: relative;
    bottom: 0 !important;
    left: 0;
    clip-path: unset;
  }

  .stats {
    min-height: calc(100vh + 100px);
  }

  .stat {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin-inline: auto;
    z-index: 0 !important;
  }

  .stat:nth-of-type(1) {
    top: 0 !important;
  }
  .stat:nth-of-type(2) {
    top: 450px !important;
  }
  .stat:nth-of-type(3) {
    top: 900px !important;
  }
}
